.controller {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
}

.description {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
}

.image {
    width: 80%;
}

@media (min-width: 610px) {
    .controller {
        flex-direction: row;
    }

    .left {
        margin-bottom: 0;
    }

    .right {
        margin-left: 10%;
    }

    .image {
        width: 353px;
    }
}
